
<nav class="menu-prod">

  <a class="menu-prod-link" aria-current="page" href="index.php">
    {%- include icon-home.html -%}
    <div class="speech-bubble">Home</div>
  </a>

  <a class="menu-prod-link" href="">
    {%- include icon-profile.html -%}
    <div class="speech-bubble">Pesq.</div>
  </a>

  <a class="menu-prod-link" href="">
    {%- include icon-manual.html -%}
    <div class="speech-bubble">Manual</div>
  </a>
  
  <a class="menu-prod-link" href="">
    {%- include icon-dash.html -%}
    <div class="speech-bubble">Dash</div>
  </a>

  <a class="menu-prod-link" href="">
    {%- include icon-sobre.html -%}
    <div class="speech-bubble">Sobre</div>
  </a>

</nav>  