<div class="div-h">

  <a class="mybtn mybtn-manual myicon-manual div-v" href="/manual-pesquisando.html"> 
    {%- include img-search.html -%} Pesquisando </a>

  <a class="mybtn mybtn-manual myicon-manual div-v" href="/manual-exportacao.html">
    {%- include img-export.html -%} Exportando </a>

  <a class="mybtn mybtn-manual myicon-manual div-v" href="/manual-dashboard.html">
    {%- include img-dashboard.html -%} Dashboard </a>

  <a class="mybtn mybtn-manual myicon-manual div-v" href="https://unifesp.br/prodmais/">
    {%- include img-logo.html -%} Home </a>

</div>
