---
layout: default
---		

<main class="main">
  
  {%- include logo-home.html -%}

  <div class="textbox">

    <div class="div-v">
      <h2>Para entrar no dashboard:</h2><br>

      <h3>Username: <i>dashboard:</i></h3><br>

      <h3>Passord: <i>dashboard:</i></h3><br>
    </div>
    
    {{ content }}

  </div>

  <div class="div-h">

    <a class="mybtn mybtn-manual div-h" href="http://200.144.92.58/kibana/app/kibana#/dashboard/34b66560-2b32-11eb-95f6-e1f5e808acc0?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"> 
       Produção Acadêmica </a>

    <a class="mybtn mybtn-manual div-h" href="http://200.144.92.58/kibana/app/kibana#/dashboard/421f0360-2b32-11eb-95f6-e1f5e808acc0?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))">
       Perfil dos Pesquisadores </a>
       
  </div>

</main>
